/* stylelint-disable linebreaks */
* body {
  background-image: url('./images/loginImg.jpg');
  background-size: 100%;
  margin: 0;
  margin-bottom: 10px;
}

.Login, input {
  backdrop-filter: blur(13.5px);
  background: rgba(228, 207, 207, 0.041);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  display: flex;
  height: 20px;
  padding: 15px;
  width: 82%;
}

.login, h1 {
  color: rgb(245, 238, 238);
  margin-right: 20%;
  text-align: center;
}

.login, form {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-top: 50%;
}

.buttonLogin {
  margin-left: 32%;
}

.Header, header {
  background: #dfdee0ee;
  box-shadow: -2px 10px rgba(0, 0, 0, 0.25);
  display: inline-block;
  width: 100%;
}

.navBarHeader {
  display: inline-flex;
  margin-bottom: 15px;
  margin-left: 15%;
  margin-top: 5%;
}

.searchButton {
  border-bottom: none;
  display: flex;
  margin-left: 185px;
  margin-top: -2%;
  width: 15%;

}

.Header, button {
  background: #dfdee0ee;
  border: 1px solid rgb(8, 8, 8);
  padding: 6px;
  position: relative;
  width: 60px;
}

.Header, h2 {
  margin-left: 40%;
}

.recipesCard {
  background: #f4f2f7ee;
  border: 1px solid rgb(8, 8, 8);
  display: inline-block;
  width: 50%;
}

.RecipeCard, img {
  background: #dfdee0ee;
  width: 100%;

}

.footer.footer {
  background: #dfdee0ee;
  bottom: 0;
  box-shadow: -2px 10px rgba(0, 0, 0, 0.25);
  display: inline-flex;
  height: 36px;
  position: fixed;
  width: 100%;
}

.iconFooterDrinks, .iconFooterMeals {
  margin-left: 25%;
  width: 9%;
}

.carroussel-container {
  background: #dfdee0d8;
  display: flex;
  margin-bottom: 25px;
  margin-top: 10px;
  overflow-x: scroll;
  width: 100%;
}

.carroussel-container .carroussel-card {
  border: 1px solid rgb(8, 8, 8);
  min-width: 50vw;
  width: 50vw;
}

.start-recipe-btn {
  bottom: 0;
  padding: -10px 0;
  position: fixed;
  right: 0;
  width: 100vw;
}

.favorite-btn, .share-btn {
  position: relative;
  width: 50%;
}

.card-details {
  background: #dfdee0d8;
  color: black;
  margin-top: 10px;
  padding: 20px;

}

img, .recipe-photo {
  margin-bottom: 12px;
  margin-top: 1px;
}

h1, .recipe-title {
  color: rgb(26, 11, 238);
  margin-left: 18%;
  margin-top: 5%;
}

h4, .recipe-category {
  color: rgb(26, 11, 238);
}

